
###################
# Autocomplete history
###################

*.dat

##############
# Saves
##############

auto-save-list/
places
semanticdb/
backups/

##################
# Projectile 
##################
*.eld
*.cache
