
###################
# Autocomplete history
###################

*.dat
*.elc
tramp

##############
# Saves
##############

auto-save-list/
places
semanticdb/
backups/
elpa/

##################
# Projectile 
##################
*.eld
*.cache

##################
# ido last
##################

*.last
